* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
.menu{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: white;
    border-bottom: 1px solid rgb(192, 192, 192);
}
.menu .main_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}
.menu .main_menu .logo span{
    font-size: 1.7rem;
    font-weight: normal;
    color: rgb(100, 100, 100);
}
.main_menu .menu_right{
    display: flex;
    align-items: center;
}
.main_menu .menu_right .menu__list{
    display: flex;
}

.menu_right .menu__list .list-items{
    list-style: none;
    padding: 1.5rem;
    
}

.main_menu .menu_right .menu__list a{
    text-decoration: none;
    color: black;
    font-variant: small-caps;
}
.main_menu .menu_right .menu__list a:hover{
    color: blueviolet;
}
.main_menu .menu_right .search__menu{
    padding-left: 3rem;
}
.menu_right .list-items:hover .hover__menu {
    visibility: visible;
    transition: 250ms;
}
.menu_right .list-items .hover__menu{
    background-color: white;
    list-style: none;
    text-align: left;
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 200px;
    visibility: hidden;
    border: 1px solid darkgray;
}
.menu_right .list-items .hover__menu .hover-items{
    color: darkgray;
    padding: 0.5rem 1rem;
}
.menu_right .hover__menu .hover-items:hover,
.menu_right .hover__menu .hover-items:hover a{
    background-color: rgb(255, 248, 240);
    color: #5234f9;
}
.menu_right .hover__menu .hover-items-01{
    color: darkgray;
    padding: 0.5rem 1rem;
    position: relative;
}
.menu_right .hover-items-01:hover,
.menu_right .hover-items-01:hover a{
    background-color: rgb(255, 248, 240);
    color: #5234f9;
}

.menu_right .hover-items-01:hover .hover-menu-02 {
    visibility: visible;
    transition: 250ms;
}
.menu_right .hover-items-01 .hover-menu-02 {
    background-color: white;
    list-style: none;
    text-align: left;
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 100%;
    width: 200px;
    visibility: hidden;
    border: 1px solid darkgray;
}

.menu_right .hover-menu-02 .hover-items-02 {
    color: darkgray;
    padding: 0.5rem 1rem;
}

.menu_right .hover-menu-02 .hover-items-02:hover,
.menu_right .hover-menu-02 .hover-items-02:hover a{
    background-color: rgb(255, 248, 240);
    color: #5234f9;
}
.menu_right .menu_right{
    position: relative;
    transition: 300ms;
}
.menu_right .search__menu:hover .hover-search {
    visibility: visible;
    transform: translate3d(0, 70%, 0);
}
.menu_right .hover-search{
    position: absolute;
    display: flex;
    right: 0;
    margin-top: -20px;
    background-color: white;
    border: 1px solid darkgray;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    visibility: hidden;
    width: 250px;
    transition: all 0.3s ease;
    transform: translate3d(0, -200%, 0);
    z-index: 999;
}
.menu_right .hover-search input{
    padding: 0.7rem;
    outline: none;
    border: none;
    background-color: #f5f5f5;
    margin-right: 5px;
    width: 70%;
}
.menu_right .hover-search input:hover{
    border: 1px solid #5234f9;
}
.menu_right .hover-search button{
    padding: 0.7rem;
    outline: none;
    border: none;
    background-color: #6b52f8;
    color: white;
}


/* content */
.content{
    background: lightblue url("../img/background.jpg") no-repeat fixed center;
}
.banner{
    position: relative;
    height: 100vh;
}
.banner .content_banner{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%) translateY(50%);
    color: white;
}
.banner .content_banner h1{
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 1rem;
}
.banner .content_banner p{
    padding-bottom: 1rem;
}
.content_banner .btn_banner button.btn_01 {
    padding: 1rem 3rem;
    background-color: #5234f9;
    border: none;
    outline: none;
    color: white;
}
.content_banner .btn_banner button.btn_01:hover{
    background-color: #5234f97e;
}
.content_banner .btn_banner button.btn_02{
    padding: 0.9rem 2rem;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    color: white;
}
.content_banner .btn_banner button.btn_02:hover{
    color: black;
    background-color: white;
}
/* seo */
.seo{
    background-color: white;
}
.seo .seo_friendly{
    padding: 4rem 0;
}
.seo .seo_friendly .seo__cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.seo .seo__cart .seo__img {
    width: 60%;
    padding: 2rem;
}
.seo .seo__cart .seo__content {
    width: 30%;
}
.seo .seo__cart .seo__content h2{
    padding-bottom: 1rem;
    font-weight: normal;
}
.seo .seo__cart .seo__content p{
    color: rgb(117, 117, 117);
    padding: 1rem 0;
}
.seo .seo__content .btn_seo button{
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    background-color: #5234f9;
    color: white;
}
.seo .seo__content .btn_seo button:hover{
    background-color: #5234f99f;
}
/* portfolio */
.portfolio {
    background-color: #f5f5f5;
}

.portfolio .portfolio_section {
    padding: 2rem 0;
}

.portfolio .portfolio_section .portfolio__cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .portfolio__cart .poryfolio__img {
    width: 60%;
    padding: 2rem;
}

.portfolio .portfolio__cart .portfolio__content {
    width: 30%;
}

.portfolio .portfolio__cart .portfolio__content h2 {
    padding-bottom: 1rem;
    font-weight: normal;
}

.portfolio .portfolio__cart .portfolio__content p{
    color: rgb(117, 117, 117);
    padding: 1rem 0;
}

.portfolio .portfolio__content .btn-portfolio button {
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    background-color: #5234f9;
    color: white;
}

.portfolio .portfolio__content .btn-portfolio button:hover {
    background-color: #5234f99f;
}
/* small */
.small_parallax{
    padding: 3rem 0;
}
.small_parallax .small_content{
    text-align: center;
    color: white;
}
.small_parallax .small_content h1{
    font-size: 3rem;
    padding-bottom: 2rem;
}
.small_parallax .small_content p{
    padding-bottom: 2rem;
}
.small_parallax .small_content button{
    padding: 1rem 2.5rem;
    color: white;
    background-color: #5234f9;
    border: none;
    outline: none;
}
.small_parallax .small_content button:hover{
    background-color: #5234f9ad;
}
/* limitless_options */
.limitless_options{
    background-color: #f5f5f5;
}
.limitless_options .limitless{
    padding-top: 5rem;
}
.limitless_options .limitless .limitless_content{
    text-align: center;
    padding: 2rem 10rem;
}
.limitless_options .limitless .limitless_content h2{
    padding-bottom: 1rem;
}
.limitless_options .limitless .limitless_content p{
    padding-bottom: 1rem;
    color: darkgray;
}
.limitless_options .limitless .limitless_content button{
    padding: 1rem 2rem;
    background-color: #5234f9;
    border: none;
    outline: none;
    color: white;
}
.limitless_options .limitless .limitless_content button:hover{
    background-color: #5234f98f;
}
.limitless_options .limitless .limitless_img img{
    display: block;
    padding: 0 4rem;
}
/* our latest */
.our_latest{
    background-color: black;
}
.our_latest .our__title{
    color: white;
    text-align: center;
    padding: 5rem 0;
}

.project{
    margin: 0;
    padding: 0;
}
.project .content_project {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
}
.project .content_project .project__cart{
    max-width: 25%;
    flex-basis: 25%;
    position: relative;
}
.project .content_project .project_img img{
    display: block;
}
.project .content_project .project_img:hover .overlay{
    visibility: visible;
    top: 50%;
    bottom: 50%;
    right: 50%;
    transition: 300ms;
    
}
.project .content_project .overlay{
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    transform: translateX(50%) translateY(50%);
    visibility: hidden;
}
.content_project .project__cart:hover .project_img::before{
    opacity: 1;
}
.content_project .project_img::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
    opacity: 0;
}
/* customers */
.customers{
    width: 100%;
}
.content_customers{
    text-align: center;
    color: white;
    padding: 0 10rem;
}
.content_customers h1{
    padding-top: 4rem;
}
.content_customers p{
    padding: 2rem 0;
}
.content_customers .img_customers{
    padding-bottom: 2rem;
}
.content_customers .img_customers img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* clients */
.clients{
    background-color: white;
}
.clients .content_clients{
    padding: 0 5rem;
}
.clients .content_clients .clients_title{
    text-align: center;
    padding: 3rem;
}
.content_clients .logo__clients{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content_clients .logo__clients .item-clients{
    padding-bottom: 3rem;
}
.content_clients .logo__clients .item-clients img{
    width: 3rem;
    opacity: 0.5;
}
.logo__clients .item-clients img:hover{
    opacity: 1;
}
/* awesome */
.awesome{
    padding: 5rem 0;
    background-color: #f5f5f5;
}
.content_awesome{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content_awesome .title__awesome {
    font-weight: normal;
    color: rgb(53, 53, 53);
}
.content_awesome .btn__awesome button{
    padding: 1rem 2.5rem;
    background-color: #5234f9;
    color: white;
    border: none;
    outline: none;
}
.content_awesome .btn__awesome button:hover{
    background-color: #5234f9bb;
}
/* footer */
.footer{
    background-color: black;
    color: white;
    padding: 5rem 0;
}
.footer .footer_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer .footer_content .footer__title a{
    text-decoration: none;
    color: white;
}
.footer .footer_content .footer__title a:hover{
    color: #5234f9;
}
.footer .footer_content .icon__list{
    display: flex;
    list-style: none;
}
.footer .footer_content .icon__list li{
    padding: 0 0.7rem;
}
.footer .footer_content .icon__list a{
    color: white;
}
.footer .footer_content .icon__list a:hover{
    color: #5234f9;
}
